:root {
    /* font size */
    --size-title: 22px;
    --size-paragraph: 18px;
    --text-body: 15px;

    /* primary */
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);
    /* font family */

    --font-alata: 'Alata', sans-serif;
    --font-josefin-sans: 'Josefin Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 0 18.7rem;
}

.logo{
    width: auto;
    height: auto;
    margin: 2rem 0;
}
ul{
    text-align: end;

    
}
ul li{
    display: inline-block;
    padding: 0 5px;
}
ul a{
    text-decoration: none;
    color: var(--White);
    font-family: var(--font-josefin-sans);
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
    
}
.banner h1{
    max-width: 28vw;
    position: absolute;
    color: var(--White);
    font-family: var(--font-josefin-sans);
    font-weight: 200;
    border: 1px solid var(--White);
    font-size: 3vw;
    padding: 2rem;
    left: 20%;

}
.banner img{
    width: 100%;

}
.container {
    max-width: 1180px;
    position: relative;
    margin: 5rem auto;
    line-height: 0;
}

.box-text {
    position: absolute;
    background-color: #fff;
    width: fit-content;
    right: 0;
    bottom: 0;
    padding: 3rem 5rem 0 5rem;
}

.container img {
    max-width: 100%;
}

.box-text h2 {
    max-width: 400px;
    font-family: var(--font-josefin-sans);
    font-size: 45px;
    line-height: 1;
    margin-bottom: 20px;
    font-weight: 200;

}

.box-text p {
    max-width: 450px;
    font-family: var(--font-alata);
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: var(--Dark-Gray);
}
.section-our-creation{
    padding: 0 18.7rem;
    
    
    font-family: var(--font-josefin-sans);
    font-size: var(--size-title);
}
.container-our-creation{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.container-our-creation a{
    border: 1px solid var(--Black);
    padding: 0.5rem 2rem;
    text-decoration: none;
    font-family: var(--font-alata);
    font-size: 1rem;
    color: var(--black);
    font-weight: 200;
    letter-spacing: 3px;
}

.container-our-creation h2{
    font-weight: 300;
    line-height: 1.5;
}

/*---------------------------------START GRID-----------------------------*/

.section-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
picture img{
    width: 100%;

}

/*---------------------------------END GRID-----------------------------*/


@media (max-width: 700px) {
    .container {
        position: unset;
        max-width: 100%;
        margin: 5rem 1.5rem;
    }

    .container img {
        width: 100%;
    }

    .box-text {
        position: unset;
        padding: 1rem;
    }

    .box-text h1 {
        font-size: 35px;
        text-align: center;
    }

    .box-text p {
        text-align: center
    }
}

@media (max-width: 768px) {
    .box-text {
        max-width: 100%;
        position: unset;
        margin: auto;
    }
    .container{
        padding: 1rem 2rem 0 2rem;
       
    }
    img{
        max-width: 100%;
    }
}

@media (max-width: 425px) {
    .container{
        padding: 0;
       
    }
    img{
        max-width: 100%;
    }
}

@media (max-width: 375px) {
    .container{
        padding: 0;
       
    }
    img{
        max-width: 100%;
    }
}

@media (max-width: 320px) {
    .box-text h1 {
        font-size: 28px;
    }
    .container{
        padding: 1rem 0 0 0;
       
    }
}
